body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background: linear-gradient(-45deg, #1D2F6F, #8390fa, #fac748, #f9e9ec, #f88dad);
    background-size: 700% 700%;
    animation: bg 20s ease infinite;
}

img {
    max-width: 100%;
    max-height: 100%;
}

ul {
    list-style-type: none;
}

li:before {
    content: '';
    background-color: rgb(0, 0, 0);
    display: inline-block;
    position: relative;
    height: 6px;
    width: 6px;
    border-radius: 6px;
    margin-right: 4px;
    top: -1px;
}

h1 {
    font-size: 2.5em;
}

a:visited {
    color: grey;
}

a:hover {
    text-decoration: none;
}

a {
    text-decoration: underline;
}

@keyframes bg {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 80% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.caterpillar {
    transition: transform .2s;
    margin: 2vw auto;
}

.caterpillar:hover {
    transform: scale(1.5) rotate(360deg);
}

.mainHeading {
    color: #f9e9ec;
    padding: 0 0 0.5em 0;
    border-bottom: 1px solid #fac748;
    width: fit-content;
    margin: 0 auto;
    text-shadow: 0 0 10px #8390fa;
}

.darkBackground {
    background-color: rgba(125, 125, 125, 0.4);
    border-radius: 10px;
    width: fit-content;
    margin: 0 auto;

}

.redText {
    color: white;
    background-color: #e40000;
}